::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb:vertical {
  height: 1px;
  border-radius: 14px;
  background-color: var(--vp-c-brand-1);
}

::-webkit-scrollbar-thumb:horizontal {
  width: 1px;
  border-radius: 1px;
  background-color: var(--vp-c-brand-1);
}